body {
    background-color: #453a88;
}

.quizContainer {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 38vw;
    width: 80vw;
    margin-left: 9%;
    margin-top: 4%;
    padding: 1vh;
    font-family: "Poppins", sans-serif;
}

h1 {
    margin-top: 4vh;
}

button {
    border: none;
    padding: 1vh;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.options {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vh;
    margin-top: 4.5vw;
}

.options>button {
    background-color: #4d9feb;
    width: 60vh;
    padding: 2vh;
    border-radius: 50px;
    color: white;
    /* font-size: 15px; */
}

#number {
    margin-left: -68vw;
    font-size: 20px;
}

.questionTag{
    font-size: 25px;
}

.selectionBtns {
    display: flex;
    margin: 7vh;
}


.btn {
    width: 100px;
    padding: 1vh;
    margin: 1vh;
}

#prev {
    background-color: #4f7ca6;
}

#next {
    background-color: #25a100;
}

#quit {
    background-color: #ff1500;
}