body {
    background-color: #453a88;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
}

.results>p {
    font-size: 20px;
}

h2 {
    color: green;
}

h1 {
    color: blue;
    font-weight: bolder;
}

.resultContainer {
    background-color: white;
    width: 50vw;
    padding: 2vw;
}

.results {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.footer {
    margin: 5vh;
}

.footer>button {
    margin: 1vh;
    width: 10vh;
    cursor: pointer;
    padding: 3px;
}

#play {
    border: 1px solid blue;
    color: blue;
    margin-right: 3vh;
}

#home {
    border: 1px solid green;
    color: green;
}